.contact-intro-container {
  width: 100%;
  text-align: center;
  background-image: url("http://images.freeimages.com/images/premium/previews/1994/19945035-impressum-german-spelling-newspapers-in-the-background.jpg");
  background-position: center;
  background-size: cover;
  color: #d7a21f;
  padding: 10%;
}

.contact-intro-container h1 {
  font-size: 100px;
  font-weight: bold;
}
