@import "services.css";
@import "portfolio.css";
@import "about-me.css";
@import "contact.css";
@import "impressum.css";


/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.nav-wrapper{
  background-color: #ee6e73;
}
nav .brand-logo{
  padding: 0 0 0 10%;
  color: #8bff44;
}

.hide-on-med-and-down {

}

.material-icons {
  color: #8bff44;
}

.intro-content {
  width: 100%;
  text-align: center;
  background-image: url('https://s-media-cache-ak0.pinimg.com/originals/2d/ef/41/2def415036bf866f96f564163d21b1c9.gif');
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100%;
  background-size: cover;
  padding: 10%;
  color: white;
  font-size: 60px;
  font-weight: bold;
}

.info-box {
  text-align: center;
  padding: 5px;
}

.info-box-content1 {
  padding: 20px;
  background: #f28961;
}

.info-box-content2 {
  padding: 20px;
  background: #1db9e8;
}

.info-box-content3 {
  padding: 20px;
  background: #5dc757;
}

.video-row{
  padding-bottom: 40px;
}

.video-box {
  text-align: center;
  padding: 5px;
}

.video-box-content {
  background-color: transparent;
  height: 250px;
}

.video-box-content video {
  background-size: cover;
  background-position: center;
}

.portfolio-box {
  text-align: center;
  padding: 5px;
}


.portfolio-box-content {
  background-color: green;
  height: 300px;
}

.portfolio-box-content:hover {
  background-color: black;
  opacity: .5;
}

#portfolio-box-1 {
  background-image: url("http://www.musclebeaver.com/wp-content/uploads/2015/02/Bike-Ride-Animation-Musclebeaver.gif");
  background-size: cover;
  background-position: center;
}

#portfolio-box-2 {
  background-image: url("https://vfs.edu/sites/vfs.edu/files/styles/showcase-mobile/public/images/homepage/default/20150309/nataliyametlukh1_f.jpg?itok=NTY-l4Vw");
  background-size: cover;
  background-position: center;
}

#portfolio-box-3 {
  background-image: url("http://danielspacek.com/portfolio/character-design/archive/characters/1-0-pruznak.jpg");
  background-size: cover;
  background-position: center;
}

#portfolio-box-4 {
  background-image: url("https://www.hslu.ch/-/media/campus/common/images/gallery/dk/dk%20news%20und%20erfolge/ivans%20need%20kulturplatz/800px%20ivans%20need%20still%2003%20web.jpg?h=800&la=de-ch");
  background-size: cover;
  background-position: center;
}

#portfolio-box-5 {
  background-image: url("https://www.hslu.ch/-/media/campus/common/images/teasers/dk/dk%20master%20film/animation/flirt%20standbild%20animation.jpg?la=de-ch&centercrop=0&h=469&w=782&usecustomfunctions=1");
  background-size: cover;
  background-position: center;
}

#portfolio-box-6 {
  background-image: url("http://digiblog.s3-eu-central-1.amazonaws.com/app/20160118165945/animatron_web.png");
  background-size: cover;
  background-position: center;
}

#portfolio-box-7 {
  background-image: url("http://orig13.deviantart.net/7c3a/f/2012/310/d/e/glute_flexing___gif_animation_by_davidcmatthews-d5k845k.gif");
  background-size: cover;
  background-position: center;
}

#portfolio-box-8 {
  background-image: url("http://generalquizz.com/media/can-we-guess-your-age-by-your-general-knowledge/a9eae850-f1df-44e2-8724-1fe8888a8501_560_420.jpg");
  background-size: cover;
  background-position: center;
}

#portfolio-box-9 {
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/disp/52075235910261.5606339617c67.gif");
  background-size: cover;
  background-position: center;
}











/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
